body{
    margin: 0;
    padding: 0;
    background: url(../Image/regi2.jpg)no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
.manage_btn a{
    padding: 10px;
    color: #fff;
    background-color: green;
    margin: 20px;
    border-radius: 10px;
    border-style: double;
    
    
}
.box{

 
    background: #ffffff;
    color: rgb(255, 17, 0);
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 5px;
}
.box form{
    display: flex;
}
.box .row1{
    width:100%;
}
.box .row2{
    margin-left: 60px;
    width: 100%;
}



.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -70px;
    left: calc(50% - 50px);
    border-radius: 5px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: black;
    
}
.inpswd, .regerror, .success{
    display: none;
}

p{
    color: #f49126;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

 input[type="text"], input[type="password"] ,input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #a8a6b4;
    font-size: 16px;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1407c9;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}


input[type="submit"]:hover
{
    cursor: pointer;
    background: #457ce2;
}

a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #0dd466;
}


a:hover
{
    color: rgb(45, 18, 197);
}

































































