* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.container1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 40px;
  width: 40%;
}

.container1 .title1 {
  font-size: 30px;
  font-weight: 1000;
  position: relative;
  text-align: center;
  font-family: Garamond;

}
.add-cat form .form-group input{
margin-left: 90px;
}

.add-manage {
  margin-top: 20px;
  
}

.add-manage ul li,
.add-cat button, input[type="submit" i] {
  display: flex;
  flex-direction: row;
  background-color: Green;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}

.edit_cat {
  /* display: flex;
  flex-direction: row;
 */
  text-decoration: none;
  background-color: Green;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}

.add-cat2{
  width: 50%;
  height: 100%;
  background-color: #3f3280;
  padding: 50px;
  margin-left: 130px;
  margin-top: -20px;
  border-radius: 10px;
  
  
}
table{
  margin-top: 0%;
  width: 95%;
}
.table_cat{
  width:200%;
  margin-left: 80%;
}
.table_prod{
  width:120%;
  margin-left: -10%;
}
/*.add{
background-color: rgb(219, 7, 7);
padding: 10px;
border-radius: 5px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}*/

.add-cat2 .form-control{
  width: 200px;
  
}
.del_cat {
  /* display: flex;
     flex-direction: row;
    */
  text-decoration: none;
  background-color: rgb(128, 0, 0);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  
}

.add-cat .btn-primary {
  margin-left: auto;
}

.add-cat form .form-group {
  width: 800px;
  height: 100%;
  font-size: 20px;
  color: #474d53;

}

.add-cat form .form-group .price {
  display: none;
  /*flex-direction: column;*/

}

.form-control {
  width: 40%;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.add-manage ul a {
  text-decoration: none;
}

.add-cat {
  display: flex;
  background-image: url("../Image/regi2.jpg");
  padding: 100px;
  flex-direction: row;
  margin-top: -50px;
  border-radius: 5px;
  height: auto;
}

.add-cat .success ,.add-cat .successa{
  margin-left: 280px;
  color: green;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  display: none;
}

.container1 a .title2 {

  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10%;
}

.container1 a {
  text-decoration: none;

}

.container1 .title2 {

  height: 100%;
  width: 90%;
  border-radius: 5px;
  padding: 10;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 325%;
  margin-top: -42%;
  background-color: #ff0909;
}

.container1 .title2:hover {

  background-color: #f04400;
}


.container1 .success,
.container1 .regerror,
.container1 .inpswd {
  display: none;
}

.container1 .a.card-footer-c {
  font-size: 10px;


}

.container1 .card-footer {
  font-size: 12px;


}

.container1 .card-footer-c {
  font-size: 16px;


}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #bbb2f1;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
  background: #bbb2f1;
  border-color: #bbb2f1;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: px 250px
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;

  background-color: #2d23c7;
}

form .button input:hover {

  background-color: #2207bb;
}

form .button1 {
  height: 45px;
  margin: px 250px
}





form .title1 a {

  background-color: #604fbe;
}

form .button1 input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
margin-left: 0%;
  background-color: #2d23c7;
}

form .button1 input:hover {

  background-color: #604fbe;
}

.first {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: white;
  border-radius: 12px;
  background-color: #3e454c;
}

.first h4 {
  color: white;
  margin-left: 30%;
  margin-top: 1%;
}

li .treeview {
  padding: 5px;
  margin-left: 10px;
}

.first {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 12px;
}

.f1 {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 5px;
  text-align: center;
}

.f2 {
  width: 100;
  height: 50;
  margin: auto;
  margin: top 5px;
  text-align: center
}

.f1:hover {
  transform: scale(1.1);
  z-index: 1;
}


.treeview {
  padding: 10px;
}

.treeview:hover {
  background: #474d53;
}


.menu-bar ul li:hover {
  background: rgb(107, 240, 140);
  border-radius: 5px;
  padding: 20px;
}

.selection {
  min-height: 180px;
  display: flex;
  overflow-x: auto;
  border: 2px solid #ddd;
  width: 80%;
  margin: auto;
  background-color: white;
}

.selection .third {
  min-width: 300px;
  margin-right: 40px;
  height: 200px;
  line-height: 200px;
}

/*
embed {
  padding: 5px;
}

#maintopic {
  font-size: 75px;
  font-family: verdana;
  margin: auto;
  color: red;
}

#topic {
  width: 97%;
  height: 920px;
  margin: auto;
}

#topic1 {
  width: 422px;
  height: 250px;
  float: left;
}

#subtopic1 {
  width: 200px;
  height: 20px;
  background-color: white;
  margin-left: 50px;
  float: left;
}

#dtopic1 {
  width: 422px;
  height: 200px;
  background-color: white;
  float: left;
  font-family: Florence;
  font-size: 25px;
  text-align: left;
}*/
.containe {
  width: 10%;
  padding: 10px;
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

.box {
  width: 80px;
  height: 90px;
  float: left;
  margin: 0 20px;
  transition: 1s;
}

.box img {
  display: block;
  width: 75%;
  border-radius: 5px;
}

.box:hover {
  transform: scale(1.1);
  z-index: 1;
}

/*
#description {
  width: 100%;
  padding: 10px;
  height: 300px;
  background-color: #f5f5f5;
}

#descriptionlogo .fa {
  margin-right: 60px;
}

#descriptionlogo {
  width: 180px;
  height: 20px;
  background-color: white;
  margin: auto;
  text-align: center;
}*/

.fa:hover {
  transform: scale(2.2);
  z-index: 1;
}

.description1 {
  width: 40%;
  height: 250;
  float: left;
}

.description2 {
  width: 50%;
  height: 250;
  float: left;
  margin-left: 100px;
}

.main ul {
  list-style: none;
}

.main ul li {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.main ul li a {
  text-decoration: none;
  color: red;
  font-family: verdana;
  font-size: 30px;
}

.main ul li:hover {
  background: black;
  border-radius: 5px;
  color: pink;
}

.sub-main-1 {
  display: none;
}

.main ul li:hover .sub-main-1 {
  display: block;
  position: absolute;
  background: white;
  margin-top: 10px;
  margin-left: 300px;
}

.main ul li:hover .sub-main-1 ul {
  display: block;
  margin: 10px;
}

.main ul li:hover .sub-main-1 ul li {
  width: 250px;
  padding: 2px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0px;
  text-align: left;
}

.main ul li:hover .sub-main-1 ul li:last-child {
  border-bottom: none;
}

.main ul li a:hover {
  color: white;
}

.main ul li:hover .sub-main-1 ul li a {
  color: black;
}

.menu-bar-1 {
  background: white;
  text-align: center;
}

.menu-bar-1 ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar-1 ul li {
  width: 200px;
  margin: 0px;
  padding: 20px;
}

.menu-bar-1 ul li a {
  text-decoration: none;
  color: black;
  font-family: verdana;
  font-size: 20px;
}

.menu-bar-1 a:hover {
  color: white;
  background: red;
  border-radius: 3px;
  transform: scale(2.2);
}

/*
#crwpoto {
  width: 100%;
  height: 700px;
  background-image: url('https://pictures.trbna.com/image/0cca9389-cfc1-4d1b-a4bc-1cb173c61301');
  background-size: 100% 100%;
}

#crwd {
  width: 50%;
  height: 400px;
  margin: auto;
  font-family: DokChampa;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-align: justify;
}
#crwfd {
  width: 80%;
  height: 200px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  font-family: Times New Roman;
}

#crwfp1 {
  width: 70%;
  height: 500px;
  margin: auto;
  background-size: 100% 100%;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

#crwfp11 {
  width: 60%;
  height: 20px;
  margin: auto;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

#crwfp112 {
  width: 70%;
  height: 50px;
  margin-left: 200px;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-align: justify;
}
.crclogo {
  width: 100px;
  height: 100px;
  margin: auto;
}
.crchdbox {
  width: 75%;
  height: 2100px;
  margin: auto;
}

.crchdbox1 {
  font-family: DokChampa;
  text-align: justify;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

.maindiv {
  width: 99%;
  height: 700px;
  margin-left: 50%;
  margin-top: 45%;
  top: 100%;
  background-image: url('https://media.gettyimages.com/photos/new-bust-representing-portuguese-footballer-cristiano-ronaldo-is-at-picture-id977748998?s=612x612');
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 5px black;
  animation: crfpoto 60s infinite linear;
}

@keyframes crfpoto {
  10% {
    background-image: url('https://unsplash.com/photos/JurI1OmGRRo');
  }

  20% {
    background-image: url('https://images.unsplash.com/photo-1497296805880-3b37686c87ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fG1vdXNlJTIwcGFkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  }

  30% {
    background-image: url('https://media.gettyimages.com/photos/cristiano-ronaldo-of-portugal-plays-with-his-son-after-the-friendly-picture-id969466270?k=20&m=969466270&s=612x612&w=0&h=YRNz5EYeZpoRirCzXMu--4o4NR92sF0mcjrP8VP7so0=');
  }

  40% {
    background-image: url('https://media.gettyimages.com/photos/cristiano-ronaldo-celebrates-the-launch-of-new-cr7-play-it-cool-with-picture-id1174372553?k=20&m=1174372553&s=612x612&w=0&h=y1jptKaST2MFQbKjFzm2ZpwWdWgyd55gJsWHo4RRC2E=');
  }

  60% {
    background-image: url('https://media.gettyimages.com/photos/cristiano-ronaldo-of-juventus-poses-with-the-serie-a-trophy-alongside-picture-id1145218034?k=20&m=1145218034&s=612x612&w=0&h=afzLMx2wLSPIasotV9zjZSEB8kWhK_-Krqwm7ReevX0=');
  }

  70% {
    background-image: url('https://media.gettyimages.com/photos/nominee-for-the-best-fifa-football-player-barcelona-and-argentina-picture-id865479092?s=612x612');
  }

  80% {
    background-image: url('https://media.gettyimages.com/photos/real-madrids-portuguese-forward-cristiano-ronaldo-poses-with-family-picture-id962801594?s=612x612');
  }

  90% {
    background-image: url('https://media.gettyimages.com/photos/real-madrids-portuguese-forward-cristiano-ronaldo-celebrates-with-his-picture-id962802038?s=612x612');
  }

  100% {
    background-image: url('https://media.gettyimages.com/photos/cristiano-ronaldo-of-real-madrid-looks-up-to-where-is-mother-is-as-picture-id137367592?k=20&m=137367592&s=612x612&w=0&h=p6wntGKxfhYvdAHmhaZ2ajP76vWVcrNLxHATfCwakcU=');
  }
}

.crfp {
  font-family: DokChampa;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-align: justify;
  width: 75%;
  height: 200px;
  margin: auto;
}

.crfvr {
  width: 3px;
  height: 100%;
  background-color: black;
  margin: auto;
  float: left;
}

.crfbox1 {
  width: 49%;
  height: 100%;
  float: left;
}

.crfbox2 {
  width: 49%;
  height: 60%;
  margin: 0 0 0 auto;
  background-image: url('https://sportslibro.com/wp-content/uploads/2021/08/iooofofof.jpg');
  background-size: 100% 100%;
}

.crfp1 {
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1rem;
}

.crfbox3 {
  width: 49%;
  height: 50%;
  float: left;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/ronaldo-childhood.jpg');
  background-size: 100% 100%;
}

.crfbox4 {
  width: 30%;
  height: 43%;
  margin: 0 0 0 auto;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/ronaldo-early-career.jpg');
  background-size: 100% 100%;
}

.crfvr1 {
  width: 3px;
  height: 75%;
  background-color: black;
  margin: auto;
  float: left;
}

.crfbox5 {
  width: 49%;
  height: 50%;
  float: left;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/Ronaldo-Early-Success.jpg');
  background-size: 100% 100%;
}


.crfpp1 {
  background-image: url('https://media.gettyimages.com/photos/cristiano-ronaldo-of-juventus-celebrates-with-his-mother-maria-the-picture-id1150370173?s=2048x2048');
  width: 100%;
  height: 700px;
  margin: auto;
}



.crfbox6 {
  width: 49%;
  height: 80%;
  float: left;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/Ronaldo-Mother.jpg');
  background-size: 100% 100%;
}

.crfbox7 {
  width: 49%;
  height: 60%;
  margin: 0 0 0 auto;
  background-image: url('https://sportslibro.com/football/wp-content/uploads/2020/01/ertthh.jpg');
  background-size: 100% 100%;
}*/

/*--------------------------------------------------------------cr family Siblings  content 6 row-----------------------------------------------------------------*/

/*.crfbox8 {
  width: 49%;
  height: 60%;
  float: left;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/ronaldo-sibblings-600x368.jpg');
  background-size: 100% 100%;
}*/

/*--------------------------------------------------------------cr family wife  content 6 row-----------------------------------------------------------------*/
/*.crfbox9 {
  width: 49%;
  height: 60%;
  margin: 0 0 0 auto;
  background-image: url('https://images.celebfamily.com/wp-content/uploads/2016/06/ronaldo-son-600x502.jpg');
  background-size: 100% 100%;
}*/

/*--------------------------------------------------------------cr family wife  content 6 row-----------------------------------------------------------------*/
/*.crfbox10 {
  width: 49%;
  height: 50%;
  float: left;
  background-image: url('https://sportslibro.com/football/wp-content/uploads/2018/07/llllll.jpg');
  background-size: 100% 100%;
}

#up {
  width: 20px;
  height: 40px;
  margin: 0 0 0 auto;
  margin-right: 50px;
}




.CRSBOX {
  width: 95%;
  height: 375px;
  background-color: #ffe4e1;
  margin: auto;
}

.CRSBOX1 {
  width: 32%;
  height: 350px;
  float: left;
}

.CRSBOX2 {
  width: 32%;
  height: 350px;
  float: left;
  margin-left: 25px;
  background-color: white;
}

.CRSBOX3 {
  width: 32%;
  height: 350px;
  float: left;
  margin-left: 25px;
  background-color: white;
}

.CRSBOX1:hover {
  transform: scale(1.1);
  z-index: 1;
}

.CRSBOX2:hover {
  transform: scale(1.1);
  z-index: 1;
}

.CRSBOX3:hover {
  transform: scale(1.1);
  z-index: 1;
}*/

/*--------------------------------------------------------------cr sponsores detaills content 2 row-----------------------------------------------------------------*/
/*
.crdslbox {
  width: 40%;
  height: 1200px;
  float: left;
}

.crdsRbox {
  width: 40%;
  height: 800px;
  float: left;
  margin-left: 265px;
}*/