iframe {

	margin-top: 0%;
	opacity: 0.8;
	pointer-events: none;
	
}


h4.bottom {
	margin-top: 100px;
	padding: 70px;
	text-decoration: none;
	font-family: calibri;
	color: white;
	font-size: 18px;
	background-color: #1e1e1e;
}

p.blink,
a.blink {
	color: #aaaaaa;
	font-size: 16px;
}

p.bg {
	text-decoration: none;
	font-family: calibri;
	color: white;
	font-size: 18px;
	background-image: url("../Images/Gallery/1.jpg");
}

p.con {
	color: white;
	font-family: Arial;
	text-decoration: none;
}
#btnscrl{
	margin-top:-25% ;
	margin-left: 44.7%;
	z-index: 1;
	position: relative;
	border-radius: 10px;
	height: 25px;
	font-weight: bolder;
	background-color: #f01010;
	color: azure;
}
#btnscrl:hover{
	background-color: #ff0000;
	color: beige;
	margin-left: 43%;
	width: 200px;
	height: 35px;
	font-size: larger;
	
	
}
.wel{
	position: relative;
	margin-top: -45%;
}
.partsbg{
	background-color: rgb(17, 17, 17);
	padding: 30px;
	display: flex;
	margin-top:30%;

}
.partsbg .leftpart{
	background-color: rgb(0, 0, 0);
	padding: 20px;
	text-align: center;
	width: 15%;
	
}
.partsbg .leftpart table{
	font-size:small;
}
.partsbg .rightpart{
	margin-left: 20px;
	width: 100%;
	color: #aaaaaa;
	
}
.partsbg .rightpart h2{
	font-family: Arial, Helvetica, sans-serif;
	
}
.BOX {
	width: 95%;
	height: 375px;
	background-color: rgb(0, 0, 0);
	margin: auto;
}

.BOX1 {
	width: 32%;
	height: 250px;
	float: left;
}

.BOX2 {
	width: 32%;
	height: 250px;
	float: left;
	margin-left: 25px;
	background-color: rgb(0, 0, 0);
}

.BOX3 {
	width: 32%;
	height: 250px;
	float: left;
	margin-left: 25px;
	background-color: rgb(0, 0, 0);
}

.BOX1:hover {
	transform: scale(1.1);
	z-index: 1;
}

.BOX2:hover {
	transform: scale(1.1);
	z-index: 1;
}

.BOX3:hover {
	transform: scale(1.1);
	z-index: 1;
}

.nav a {
	color: white;
	text-decoration: none;
}

h3.nav {
	color: #aaaaaa;
	text-decoration: none;
}

#frmSrch {

	margin-top: -35px;
	margin-left: 809px;
	background-color: #4654e1;
	width: 300px;
	height: 30px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	
}

#frmSrch button {
	color: #fff;
	background-color: #4654e1;
	cursor: pointer;
	width: 75px;
	height: 30px;
	
}

::placeholder {
	color: #fff;
	opacity: 0.7;
}

input {
	all: unset;
	font: 16px system-ui;
	color: #fff;
	height: 80%;
	width: 80%;
	padding: 6px 10px;
}

.nav img {
	margin-left: 35px;
}

.hometab {
	margin-left: 35px;
}

.nav a:hover {
	color: yellow;
}