
<!DOCTYPE html>
<html >
<head>
	<title>Inventory Management System::Login</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 
<body style="background:url(Image/bg.jpg); 
     background-size:cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;">

<div class="container1">
				<center	><img class="card-img-top mx-auto" style="width:20%;" src="Image/profile.png" alt="Login Icon"></center>
				<div class="title1">Login Here</div>
				<div class="content">

				  <form action="pages/login.php" method="post">
					<div class="user-details">
					  
					  
					  <div class="input-box">
						<span class="details">Username</span>
						<input type="text" placeholder="Enter your username" name="username">
					  </div>

					  <div class="input-box">
						<span class="details">Password</span>
						<input type="password" placeholder="Enter your password" name="password">
					  </div>
			   
			   <div class="button1">
			
				<input type="submit" class ="btn" value="   Login  " name="submit">
				
			  </div>

			  
			   <div class="title1" > <a href="pages/register.html">Register</a></div>
			</form>

		</div>
	</div>


		  <div class="card-footer"><a href="#">Forget Password ?</a></div>
		  <div class="card-footer-c" ><a href="pages/user/Index.html">Continue without Sign In</a></div>
		</div>
	</div>
</div>
</body>
</html>
